<div class="container">
    <h3 class="center-align">Registrar Vuelo</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="fechaInicio" type="date" class="validate">
                <label for="fechaInicio">Fecha Inicio</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="horaInicio" type="time" class="validate">
                <label for="horaInicio">Hora Inicio</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="fechaFin" type="date" class="validate">
                <label for="fechaFin">Fecha Fin</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="horaFin" type="time" class="validate">
                <label for="horaFin">Hora Fin</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s9">
                <input formControlName="nombrePiloto" type="text" class="validate">
                <label for="nombrePiloto">Nombre Piloto</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="asientosVendidos" type="number" class="validate">
                <label for="asientosVendidos">Asientos Vendidos</label>
            </div>
        </div>        
        <div class="input-field col s12">
            <select class="browser-default" formControlName="ruta" >
              <option value="" disabled selected>Seleccione la ruta</option>
              <option *ngFor="let ruta of listadoRutas" value="{{ruta.origen}} - {{ruta.destino}}">{{ruta.origen}} - {{ruta.destino}}</option>
            </select>
          </div>

        <div class="row center-align">
            <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit"
                name="action">Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>